<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authorization>
			<deny users="?" />
		</authorization>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/index.html">
				<credentials passwordFormat="Clear">
					<user name="olcaygulsen" password="0lPower"></user>
				</credentials>
			</forms>
		</authentication>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true"></modules>
	</system.webServer>
</configuration>